<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">PhoneLabs</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about/index">About</a>
        </li>
        <li>
          <a class="nav-link" href="/categories">Phone Brands</a>
        </li>
        <% if user_signed_in? %>
          <p>Logged in as: <%= current_user.email %> 🙂</p>
        <li class="nav-link">
            <%= link_to "Edit Profile", edit_user_registration_path %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </li>
    <% else %>
      <li class="nav-link">
        <%= link_to "Register", new_user_registration_path %>
        <%= link_to "Login", new_user_session_path %>
      </li>
    <% end %>
      </ul>
      <form class="d-flex" role="search" action="/mobile_phone/search">
       <select class="form-control me-2" name="type" >
          <option value="">Select Phone</option>
          <option value="1">Apple</option>
          <option value="5">Samsung</option>
          <option value="2">Redmi</option>
          <option value="3">Oppo</option>
          <option value="4">Realme</option>
          <option value="6">Nokia</option>
          <option value="7">Tecno</option>
          <option value="8">Oneplus</option>
        </select>
        <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search" >
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<%= render "shared/breadcrumb"%>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
  <%= yield %>