<!DOCTYPE html>
<html>
  <head>
    <title>PhoneLabs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <nav>
    <ul>
      <li><a href="phone_type_path">Home</a></li>
    </ul>
    <form action="">
      <option value="">Select Phone</option>
      <option value="1">Apple</option>
      <option value="2">Samsung</option>
      <option value="3">Redmi</option>
      <option value="4">Oppo</option>
      <option value="5">Realme</option>
      <option value="6">Nokia</option>
      <option value="7">Tecno</option>
      <option value="8">Oneplus</option>
      <input type="search">
      <button type="submit">Search</button>
    </form>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
