<!DOCTYPE html>
<html>
  <head>
    <title>PhoneLabs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">PhoneLabs</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about/index">About</a>
        </li>
        <li>
          <a class="nav-link" href="/categories">Phone Brands</a>
        </li>
        <% if user_signed_in? %>
      <p>Logged in as: <%= current_user.email %> 🙂</p>
        <li class="nav-link">
            <%= link_to "Edit Profile", edit_user_registration_path %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </li>
    <% else %>
      <li class="nav-link">
        <%= link_to "Register", new_user_registration_path %>
        <%= link_to "Login", new_user_session_path %>
      </li>
    <% end %>
      </ul>
      <form class="d-flex" role="search" action="/mobile_phone/search">
       <select class="form-control me-2" name="type" >
          <option value="">Select Phone</option>
          <option value="170">Apple</option>
          <option value="174">Samsung</option>
          <option value="171">Redmi</option>
          <option value="172">Oppo</option>
          <option value="173">Realme</option>
          <option value="174">Nokia</option>
          <option value="176">Tecno</option>
          <option value="177">Oneplus</option>
        </select>
        <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search" >
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
 <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <%@breadcrumbs.each do |breadcrumb|%>
      <%if breadcrumb[:path].nil?%>
        <li class="breadcrumb-item" aria-current="page"></li>
          <%= breadcrumb[:label]%>
        <%else%>
        <li class="breadcrumb-item">
          <%= link_to breadcrumb[:label], breadcrumb[:path]%>
      <%end%>
    <%end%>
  </ol>
</nav>
<header>



<%if flash[:notice]%>
  <p><%= flash[:notice]%></p>
<%end%>
</header>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

  <%= debug cart%>
  <%= yield %>
  </body>
</html>
