<!DOCTYPE html>
<html>
  <head>
    <title>PhoneLabs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/categories">Phone Brands</a></li>
    </ul>
    <form action="/mobile_phone/search">
      <select name="type">
        <option value="">Select Phone</option>
        <option value="59">Apple</option>
        <option value="63">Samsung</option>
        <option value="60">Redmi</option>
        <option value="61">Oppo</option>
        <option value="62">Realme</option>
        <option value="64">Nokia</option>
        <option value="65">Tecno</option>
        <option value="66">Oneplus</option>
      </select>
      <input type="search" name="q">
      <button type="submit">Search</button>
    </form>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
